{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "mPaaSDemo",
  "copy": true,
  "targets": {
    "mPaaSDemo": {
      "author": "yangwei",
      "time": "20170320 21:24:03",
      "versions": {
        "MPMobileFramework": "2.2.0",
        "MPAutoTracker": "1.0.0",
        "APOpenSSL": "1.0.0",
        "MPHttpClient": "2.2.1",
        "APSecurityUtility": "1.2.0",
        "MPCommonUI": "2.1.0",
        "mPaas": "2.2.3",
        "SecurityGuardSDK": "5.0.71",
        "MPRemoteLogging": "2.2.4",
        "MPCrashReporter": "2.2.0",
        "MPAnalysis": "1.0.0",
        "MPUpgradeCheckService": "1.0.0"
      },
      "baseline": {
        "MPMobileFramework": "3.0.4",
        "MPAutoTracker": "3.0.4",
        "APOpenSSL": "3.0.4",
        "MPHttpClient": "3.0.4",
        "APSecurityUtility": "3.0.4",
        "MPCommonUI": "3.0.4",
        "mPaas": "3.0.4",
        "SecurityGuardSDK": "3.0.4",
        "MPRemoteLogging": "3.0.4",
        "MPCrashReporter": "3.0.4",
        "MPAnalysis": "3.0.4",
        "MPUpgradeCheckService": "3.0.4"
      },
      "frameworks": [
        "MPMobileFramework.framework",
        "MPAutoTracker.framework",
        "APOpenSSL.framework",
        "MPHttpClient.framework",
        "APSecurityUtility.framework",
        "APCommonUI.framework",
        "mPaas.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "MPRemoteLogging.framework",
        "MPCrashReporter.framework",
        "MPAnalysis.framework",
        "AliUpgradeUI.framework",
        "AliUpgradeCheckService.framework"
      ],
      "resources": [
        "APMobileFramework.bundle",
        "APMobileNetwork.bundle",
        "APCommonUI.bundle",
        "AliUpgradeUI.bundle",
        "AliUpgradeCheckService.bundle"
      ]
    }
  },
  "recent": "mPaaSDemo"
}
